<div ng-controller="TasksetCtrl as tsc">
        <div class="jumbotron">
            <h2>A Modern Web Template</h2>
            <p class="pull-right">... a UI created using AngularJS and Bootstrap</p>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Tasksets
                    <a ng-href="/#/tasksets/create"
                       class="btn btn-primary pull-right"
                       id="btn_taskset_create">Add Taskset</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText"
                       placeholder="Type here to filter Tasksets...">
                <hr>
            </div>


            <table id="taskset_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="taskset in tsc.tasksets | filter:searchText">
                    <td>
                        {{ taskset.firstName }}
                    </td>
                    <td>
                        <a ng-href="/#/tasksets/edit/{{usr.firstName}}/{{usr.lastName}}"
                           class="btn btn-success pull-right"
                           id="btn_taskset_update">Edit Taskset</a>
                    </td>
                </tr>
                <tr ng-hide="tsc.tasksets.length">
                    <td colspan="3">
                        <p class="text-center">No Tasksets Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ tsc.tasksets | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
