@(tasksetForm: Form[Taskset])(implicit messages: Messages)

    @implicitFieldConstructor = @{
        b3.horizontal.fieldConstructor("col-md-2", "col-md-10")
    }

@main("Create Taskset") {
    @b3.form(routes.Tasksets.createTaskset) {
        @b3.text(tasksetForm("name"), '_label -> "Name")
        @b3.url(tasksetForm("subjectsTarget"), '_label -> "subjectsTarget")
        @b3.url(tasksetForm("linkPredicate"), '_label -> "linkPredicate")
        @b3.url(tasksetForm("objectsTarget"), '_label -> "objectsTarget")
        @b3.url(tasksetForm("subjectEndpoint"), '_label -> "subjectEndpoint")
        @b3.url(tasksetForm("objectEndpoint"), '_label -> "objectEndpoint")
        @b3.submit('class -> "btn btn-default") { Submit }
    }
}