<div class="container-fluid">
    <div class="row">
        <div id="vt-template" class="col-md-12">
		</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-group btn-group-lg">

                <button id="vt-yes" class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-left"></em> Yes
                </button>
                <button id="vt-no" class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-center"></em> No
                </button>
                <button id="vt-unsure" class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-right"></em> Dunno
                </button>
            </div>
        </div>
    </div>
</div>